main {
    height: calc(100% - 40px);
    overflow: hidden;
}

#app {
    margin-top: 120px;
    width: 100%;
    min-height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2svh;
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#create-task-button {
    padding: 7px;
    border-radius: 3px;
    background-color: var(--primary);
    color: white;
}

#task-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow-y: auto;
    scrollbar-width: thin;
    flex-grow: 1;
    max-height: 72.1svh;
    width: 100%;
}

.task {
    display: flex;
    justify-content: center;
    align-content: space-around;
    gap: 10px;
    padding: 2px 4px;
    width: 100%;
}

.task input[type="text"] {
    height: auto;
    flex-grow: 1;
}


.task [class$='button'] img {
    width: auto;
    height: 20px;
}

.task [class$='button'][disabled] {
    background-color: rgb(238, 238, 238);
    border-color: grey;
}

.task .cancel-button[disabled] {
    background-color: rgb(228, 228, 228);
}

/*.task .cancel-button, .delete-button {
    opacity: 0;
    visibility: hidden;
}

.task:hover > .cancel-button,
.task:hover > .delete-button
 {
    visibility: visible;
    opacity: 1;
}*/

/*.task .cancel-button {
    border-color: #333138;
    color: black;
    background-color: white;
}

.task .cancel-button:hover {
    background-color: #333138;
    color: white;
}

.task .delete-button {
    background-color: white; 
    color: black;
    border-radius: 2px;
    border: 2px solid #FF312E;
}

.task .delete-button:hover {
    background-color: #FF312E;  
    color: white;
}

.task .modify-button {
    border-color: #3DDC97;
    color: black;
    background-color: white;
}

.task .modify-button:hover {
    background-color: #3DDC97;
    color: white;
}*/