.provider-container {
    margin-top: 3vh;
}

#form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    animation: fade_in 0.3s;
}

#form .container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

#form .container p {
    margin: 20px 0 0 0;
}

#form .container .input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px 0 0 0;
}

#form .container .button {
    margin-top: 20px;
}