<<<<<<< HEAD
.provider-container {
  margin-top: 3vh;
}

=======
>>>>>>> 7416897adeaae7d65219f0337a05e493ddce8e9c
#form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--background-primary);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  animation: fade_in 0.5s;
}

.provider-container {
  margin-top: 3vh;
}

.input-container {
  position: relative;
  width: 300px;
  margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1.5px solid #ccc;
  border-radius: 4px;
  outline: none;
  background-color: white;
  transition:
    border-color 0.3s ease,
    box-shadow 0.3s ease;
  background-color: #FFF;
}

input[type="text"]:focus,
input[type="text"]:valid,
input[type="password"]:focus,
input[type="password"]:valid {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.input-label {
  position: absolute;
  font-size: 12px;
  top: 50%;
  left: 10px;
  transform: translate(-6px, -50%);
  background: #ffffff;
  pointer-events: none;
  padding: 0 5px;
  transition:
    top 0.3s ease,
    font-size 0.3s ease,
    transform 0.3s ease;
  cursor: text;
  pointer-events: none;
  border-radius: 5px;
}

input[type="text"]:focus+.input-label,
input[type="text"]:valid+.input-label,
input[type="password"]:focus+.input-label,
input[type="password"]:valid+.input-label {
  top: -5px;
  font-size: 10px;
  transform: translate(-5px);
  color: #007bff;
}

.google-container {
  position: relative;
  width: 300px;
  margin-bottom: 20px;
}

input[type="submit"] {
  width: 100%;
  padding: 7px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.input[type="submit"]:hover {
  background-color: #0056b3;
}

#firebase-sign-in {
  width: 100%;
  border: none;
  padding: 4px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

h1 {
  margin-bottom: 10px;
}