html {
    width: 100%;
    height: 100%;
    margin: 0;
}

* {
    font-family: "Ubuntu";
}

body {

    width: 100%;
    height: 100%;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5px 0;
    border-bottom: 1px solid black;
    background-color: rgb(241, 241, 241);
}

h1 {
    margin: 5px;
    display: flex;
}

button,
input[type='button'],
input[type='submit'] {
    display: block;
    padding: 4px 7px;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #2997ff;
    transition: all 0.3s ease-in-out;
    color: white;
    font-weight: 500;
}

button:hover,
input[type='button']:hover,
input[type='submit']:hover {
    background-color: rgba(0, 113, 227, .6);
}

button:focus,
input[type='button']:focus,
input[type='submit']:focus {
    background-color: #6e6e73;
}


input[type="text"],
input[type="password"] {
    background-color: hsl(240, 2%, 98%);
    border: 1px #f6f6f6 solid;
    height: 20px;
    border-radius: 10px;
}

#auth-buttons-container {
    position: fixed;
    right: 10px;
    display: flex;
    gap: 10px;
}

main {
    width: inherit;
    height: inherit;
    position: relative;
}

footer {
    background-color: rgb(220, 230, 244);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
}



#form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    position: relative;
    animation: fade_in 0.3s;
}

#form .container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}


#form .container p {
    margin: 20px 0 0 0;
}

#form .container .input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px 0 0 0;
}

#form .container .button {
    margin-top: 20px;
}


@keyframes fade_in {
    from{
        opacity: 0;
        left: 20px;
    }
    to{
        opacity: 1;
        left: 0;
    }
}