body {
    scroll-behavior: smooth;
}

main {
    margin: 0;
    padding: 0;
    width: inherit;
    display: flex;
    justify-content: start;
}

#hero-banner-section {
    position: relative;
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    overflow: hidden;
    color: white;
    text-align: center;
    gap: 1rem;
}

.hero-banner-text {
    position: relative;
    font-size: 5rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items:first baseline;
}

.hero-banner-text p {
    position: relative;
    padding: 0;
    line-height: 4.5rem;
}

.hero-banner-text p:nth-child(1) {
    animation: fade_and_slide_in 0.9s ease-in-out;
}

.hero-banner-text p:nth-child(2) {
    animation: fade_and_slide_in 1.1s ease-in-out;
}

.hero-banner-text p:nth-child(3) {
    animation: fade_and_slide_in 1.3s ease-in-out;
}

.enroll-button {
    margin-top: 20px;
    text-decoration: none;
    position: relative;
    z-index: 1; 
    box-sizing: border-box;
    height: 50px; /* set a fixed height so it will not be resized when we zoom the button */
}

.enroll-button button {
    animation: 1.5s slide_in_button ease-in-out;
    border: 2px solid rgb(190, 214, 243);
    border-radius: 10px;
    padding: 15px 45px;
    background-color: transparent;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background border box-shadow 0.6s ease-in-out;
}

.enroll-button button:hover {
    border: transparent;
    background: rgb(177,174,238);
    box-shadow: 0 0 5px 5px rgba(182, 184, 204, 0.5);
    font-size: 18.3px;
}

.enroll-button button:focus {
    background-color: rgb(124, 153, 189);
    border-color: transparent;
}

.scroll-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: transparent;
    animation:
        move_up_down 0.5s infinite alternate ease-in-out,
        1.5s slide_in_button ease-in-out;
}

.scroll-button button:hover {
    background-color: transparent;
}

.scroll-button button:focus {
    background-color: transparent;
}

.scroll-button button {
    border-radius: 50%;
}

.scroll-button img {
    width: 70px;
    object-fit:fill;
    height: auto;
}

#qa-section {
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    padding: 20px; 
    width: 800px;
}

.presentation-sub-section {
    padding: 40px 0;
    width: inherit;
}


h2 {
    font-size: 2rem;
}

.qa {
    margin-bottom: 10px;
    width: inherit;
}

.accordion-input {
    display: none;
}

.accordion-label {
    display: block;
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    transition: background-color 0.3s;
}

.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.accordion-input:checked ~ .answer {
    max-height: 200px;
    transition: max-height 0.3s ease-out;
}

/* Arrow icon */
.accordion-label::after {
    content: "\25B8";
    float: right;
    transition: transform 0.3s ease-out;
}

.accordion-input:checked + .accordion-label::after {
    transform: rotate(90deg);
}


@keyframes slide_in_button {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.3;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade_and_slide_in {
    0% {
        opacity: 0;
        color: rgba(255, 255, 255, 0);
        transform: translateY(100%);
    }
    50% {
        opacity: 1;
        color: rgba(255, 255, 255, 0);
        transform: translateY(50%);
    }
    100% {
        opacity: 1;
        color: rgba(255, 255, 255, 1);
        transform: translateY(0);
    }
}

@keyframes move_in {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes move_up_down {
    0% {
        bottom: 10px;
    }
    100% {
        bottom: 30px;
    }
}

/*

.hero-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: red;
    width: 100%;
    height: 100svh;
}

.hero-banner-text {
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    font-size: 4.6rem;
    font-weight: bold;
}

.hero-banner button {
    padding: 20px;
    font-size: 1rem;
    border-radius: 15px;
} */

.full-size-section {
    height: 100vh; /* Full viewport height for each section */
    background-color: #fff; /* Example background color */
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.frequent_container{
    height: 100vh; /* Full viewport height for each section */
    background-color: #fff; /* Example background color */
    font-size: 24px;
    display: column;
    margin-left: auto;
    margin-right: auto;
}

details{
    border-radius: 9px ;
    border: 2px solid black;
    margin-bottom: 6px;
    margin-left: 250px;
    margin-right: 250px;
    overflow:hidden;
}

details summary{
    background-color:blue;
}

details[open] summary{
    border-bottom:0px;
}


.intro_section {
    position:relative;
    height: auto;
    font-size: 75px;
    font-weight:bold;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.intro_section p::after {
    content: '';
    background-color: #5DC37D;
    height: 100%;
    width: 100%;
    position: absolute;
    left:0;
    top:0;
    animation: slide_out 1s ease-in-out forwards;
}

.intro_section p{
    display: block;
    position:relative;
    animation: slide_in 1s ease-in-out forwards;
    color: white;
}
.frequent_container p {
    padding: 0 0 10px 0;
}

.intro_section p:nth-child(1) {
    animation-delay:1;
}

.intro_section p:nth-child(2) {
    animation-delay:5;
}

.intro_section p:nth-child(3) {
    animation-delay:10;
}

.intro_section button {
    transform: translateY(440%);
    animation: slide_in_button 1s ease-in-out forwards;
    border: 2px solid lightblue;
    border-radius: 30px;
    padding: 15px 45px 15px 45px;
}

.intro_section button div{
    font-size: 12px;
}

@keyframes slide_in_button {
    from { transform: translateY(100%); opacity: 0; visibility: hidden; }
    to { transform: translateY(0); opacity: 1; visibility: visible; }
}

@keyframes slide_down {
    from { transform: translateY(100%); }
    to { transform: translateY(0); }
}

@keyframes slide_in {
    from { transform: translateY(100%); }
    to { transform: translateY(0); }
}

@keyframes slide_out {
    from{ top: 0; }
    to { top:100%; display:none; }
}

.bg {
animation:slide 3s ease-in-out infinite alternate;
background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
bottom:0;
left:-50%;
opacity:.5;
position:fixed;
right:-50%;
top:0;
z-index:-1;
}

.bg2 {
animation-direction:alternate-reverse;
animation-duration:4s;
}

.bg3 {
animation-duration:5s;
}

@keyframes slide {
0% {
    transform:translateX(-25%);
}
100% {
    transform:translateX(25%);
}
}