:root {
    --primary: #2997ff;
    --secondary: #0071e3;
    --background-primary: #FFF;
    --background-secondary: hsl(240, 11%, 98%);
    --text-primary: black;
}

* {
    font-family: "Ubuntu";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100svh;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    height: 100%;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    background-color: var(--background-primary);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 3px 0;
    border-bottom: 1px solid rgb(236, 236, 236);
    background-color: var(--background-secondary);
    position: relative;
    transition: all 0.2s ease-in-out;
    z-index: 100;
    position: fixed;
}

header.fixedToTop {
    top: 0;
    left: 0;
    right: 0;
}

header #Title {
    color: var(--text-primary);
    margin: 5px;
    display: flex;
    text-decoration: none;
}

header .buttons-container {
    display: flex;
    position: absolute;
    right: 10px;
}

header .buttons-container #header-loader {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--background-secondary);
    justify-content: center;
}

header .buttons-container div {
    display: flex;
    align-items: center;
    gap: 10px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

main>* {
    padding: 20px 10vw;
}



/* default button */

button,
input[type='button'],
input[type='submit'],
.button {
    display: block;
    padding: 4px 7px;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: var(--text-primary);
    font-weight: 500;
    text-decoration: none;
}

button:hover,
input[type='button']:hover,
input[type='submit']:hover,
.button:hover {
    background-color: #d1d1d1;
}

button:focus,
input[type='button']:focus,
input[type='submit']:focus,
.button:focus {
    background-color: #6e6e73;
}

/* Primary button */

button.primary,
input[type='button'].primary,
input[type='submit'].primary,
.button.primary {
    background-color: var(--primary);
    color: white;
}

button.primary:hover,
input[type='button'].primary:hover,
input[type='submit'].primary:hover,
.button.primary:hover {
    background-color: var(--secondary);
}

button.primary:focus,
input[type='button'].primary:focus,
input[type='submit'].primary:focus,
.button.primary:focus {
    background-color: #6e6e73;
}


/* Danger button */

button.danger,
input[type='button'].danger,
input[type='submit'].danger,
.button.danger {}

button.danger:hover,
input[type='button'].danger:hover,
input[type='submit'].danger:hover,
.button.danger:hover {
    background-color: #ff3037;
}

button.danger:focus,
input[type='button'].danger:focus,
input[type='submit'].danger:focus,
.button.danger:focus {
    background-color: hsl(0, 100%, 40%);
}

/* text input */
input[type="text"]:not(:disabled),
input[type="password"]:not(:disabled) {
    background-color: #FFF;
}

input[type="text"],
input[type="password"] {
    background-color: hsl(240, 2%, 98%);
    border: 1px #f6f6f6 solid;
    height: 20px;
    border-radius: 10px;
    padding: 0 8px;
}

footer {
    background-color: var(--background-secondary);
    border-top: 1px solid rgb(236, 236, 236);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5px 0;
}

@keyframes fade_in {
    from {
        opacity: 0;
        left: 20px;
    }

    to {
        opacity: 1;
        left: 0;
    }
}