{% extends "base.html" %}

{% block title %} Task Manager {% endblock title %}
{% block styles %} <link rel="stylesheet" href="{{ url_for('static', filename='app.css')}}"> {% endblock styles %}

{% block auth_buttons %}
{% endblock auth_buttons %}

{% block content %}

<div id="app">
    <input type="button" id="create-task-button" value="Create Task">
    <div id="task-container">
    </div>
</div>

{% endblock content %}

{% block scripts %}
<script src="{{ url_for('static', filename='app.js')}}"></script>
{% endblock scripts %}