{% extends "layout.html" %}

{% block title %}{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='app.css')}}">
{% endblock styles %}

{% block content %}
<div id="app">
    <div id=loader>
        <img src="{{ url_for('static', filename='assets/loading.svg')}}">
        <h4>Loading...</h4>
    </div>
    <input type="button" id="create-task-button" value="Add task">
    <div id="task-container"> </div>
</div>
{% endblock content %}

{% block scripts %}
<script defer src="{{ url_for('static', filename='app.js')}}"></script>
{% endblock scripts %}