{% extends "layout.html" %}

{% block title %}{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{{url_for('static', filename='auth.css')}}">
{% endblock styles %}

{% block scripts %}
<script type="module" src="{{url_for('static', filename='googleAuth.js')}}"></script>
<script>
    function trylogin() {
        const usernameInput = document.querySelector("input[name='username']");
        const passwordInput = document.querySelector("input[name='password']");
        if (usernameInput === null && username === undefined) {
            throw new Error("Please provide a username")
        }
        if (passwordInput === null && password === undefined) {
            throw new Error("Please provide a password")
        }
        login(usernameInput.value, passwordInput.value)
    }
    function trySignIn() {
        const usernameInput = document.querySelector("input[name='username']");
        const passwordInput = document.querySelector("input[name='password']");
        if (usernameInput === null && username === undefined) {
            throw new Error("Please provide a username")
        }
        if (passwordInput === null && password === undefined) {
            throw new Error("Please provide a password")
        }
        signIn(usernameInput.value, passwordInput.value)
    }
</script>
{% endblock scripts %}

{% block content %}
<h1>{% if operation == 'login' %}Login{% else%} Sign-in{% endif %}</h1>
{% if operation == 'login' %}
<form id="form" onsubmit="trylogin(); return false;">
{% else%}
<form id="form" onsubmit="trySignIn(); return false;">
    {% endif %}
    <div class="container">
        <p>Username</p>
        <input type="text" name="username" required>
        <p>Password</p>
        <input type="password" name="password" minlength="6" required>
        <input class="button primary" type="submit" value="Login" name='submit'>
    </div>
</form>
<div class="provider-container">
    <button id="firebase-sign-in">{% if operation == 'login' %}Login{% else%} Sign-in{% endif %} with Google</button>
</div>
{% endblock content %}

   