{% extends "layout.html" %}

{% block title %} - Home {% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css')}}">
{% endblock styles %}

{% block content %}

<section id="hero-banner-section">
    <div class="hero-banner-text">
        <p>"From tasks,</p>
        <p>&nbsp&nbspwe detask"</p>
    </div>
    <a class="enroll-button" href="/app">
        <button>
            Start tasking
        </button>
    </a>
    <a class="scroll-button" href="#qa-section">
        <button>
            <img src="{{ url_for('static', filename='assets/scroll.svg')}}" />
        </button>
    </a>
</section>
<section id="qa-section">
    <div class="presentation-sub-section">
        <h2>Why iTask ?</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, nam mollitia sunt exercitationem illum rerum veritatis pariatur distinctio est illo nostrum ex ipsa maxime debitis aspernatur delectus accusantium consequuntur fuga?</p>
    </div>
    <div class="qa-container">
        <div class="qa">
            <input type="checkbox" id="q1" class="accordion-input">
            <label for="q1" class="accordion-label">
                <img src="{{ url_for('static', filename='assets/right-arrow.svg')}}" class="arrow" >
                <p>My first question?</p>
            </label>
            <div class="answer">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut quia unde numquam exercitationem architecto quasi iure. Et nam eius voluptate voluptas amet! Fugit sapiente asperiores sequi perferendis sunt dignissimos necessitatibus?</p>
            </div>
        </div>
        <div class="qa">

            <input type="checkbox" id="q2" class="accordion-input">
            <label for="q2" class="accordion-label">
                <img src="{{ url_for('static', filename='assets/right-arrow.svg')}}" class="arrow" >
                <p>My second question ?</p>
            </label>
            <div class="answer">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae modi saepe eveniet, magni enim maiores voluptatibus numquam corporis obcaecati possimus necessitatibus ducimus. Odit iusto consequuntur obcaecati numquam error soluta rem.</p>
            </div>
        </div>
        <div class="qa">
            <input type="checkbox" id="q3" class="accordion-input">
            <label for="q3" class="accordion-label">
                <img src="{{ url_for('static', filename='assets/right-arrow.svg')}}" class="arrow" >
                <p>My third question ?</p>
            </label>
           <div class="answer">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi dolor tempore perspiciatis sunt. Optio, quos molestiae. Officiis est debitis deleniti fugit accusantium, doloribus sed. Eaque laboriosam neque alias omnis deleniti.</p>
            </div>
        </div>
        <div class="qa">
            <input type="checkbox" id="q4" class="accordion-input">
            <label for="q4" class="accordion-label">
                <img src="{{ url_for('static', filename='assets/right-arrow.svg')}}" class="arrow" >
                <p>My third question ?</p>
            </label>
           <div class="answer">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi dolor tempore perspiciatis sunt. Optio, quos molestiae. Officiis est debitis deleniti fugit accusantium, doloribus sed. Eaque laboriosam neque alias omnis deleniti.</p>
            </div>
        </div>
        <div class="qa">
            <input type="checkbox" id="q5" class="accordion-input">
            <label for="q5" class="accordion-label">
                <img src="{{ url_for('static', filename='assets/right-arrow.svg')}}" class="arrow" >
                <p>My third question ?</p>
            </label>
           <div class="answer">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi dolor tempore perspiciatis sunt. Optio, quos molestiae. Officiis est debitis deleniti fugit accusantium, doloribus sed. Eaque laboriosam neque alias omnis deleniti.</p>
            </div>
        </div>
    </div>
</section>

<section id="content-section">

</section>

{% endblock content %}

{% block scripts %}
<script defer src="{{ url_for('static', filename='home.js')}}"></script>
{% endblock scripts %}