<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iTasks{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='layout.css')}}">
    {% block styles %} {% endblock styles %}
    <link
        href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
        rel="stylesheet">
    <script src="{{url_for('static', filename='layout.js')}}"></script>
    <script src="{{url_for('static', filename='auth.js')}}"></script>
    {% block scripts %} {% endblock scripts %}
</head>
<body>
    <header>
        <a href="/" id="Title">
            <h1>iTasks</h1>
        </a>
        <div class="buttons-container">
            <div id="header-loader">
                <img src="{{ url_for('static', filename='assets/loading.svg')}}">
            </div>
            <div id="as-not-logged">
                <a class="button" href="/sign-in">Sign in</a>
                <a class="button primary" href="/login">Login</a>
            </div>
            <div id="as-logged">
                <p id="username"></p>
                <button onclick="logout()" class="danger">Logout</button>
            </div>
        </div>
    </header>

    <main>
        {% block content %} {% endblock content %}
    </main>

    <footer>
        <p>© Michel • Iskandar • Toca • Gabriel</p>
    </footer>
</body>

</html>