{% extends "layout.html" %}

{% block title %} - Login {% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{{url_for('static', filename='auth.css')}}">
{% endblock styles %}

{% block content %}
<h1>Login</h1>
<form id="form" onsubmit="login(); return false">
    <div class="container">
        <p>Username</p>
        <input type="text" name="username" required>
        <p>Password</p>
        <input type="password" name="password" minlength="6" required>
        <input class="button primary" type="submit" value="Login" name='submit'>
    </div>
</form>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}
